{erl_opts, [no_debug_info]}.
{deps, [{ast_walk, "0.2.0"}, {jsone, "1.4.3"}]}.

{escript_incl_apps,
 [beamdocs, ast_walk, jsone]}.
{escript_top_level_app, beamdocs}.
{escript_name, beamdocs}.
{escript_emu_args, "%%! +sbtu +A0\n"}.

{plugins, [rebar3_efene]}.

{provider_hooks, [{pre, [{compile, {efene, compile}}]}]}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.
